In [52]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [53]:
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

train = pd.read_csv('C:/Users/sash/Downloads/Leaf-Classification-master/input/train.csv') # Read the data to train the model

In [54]:
train.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [55]:
x_train = train.drop(['id', 'species'], axis=1).values #Drop the label column

In [56]:
x_train[0]

array([0.007812  , 0.023438  , 0.023438  , 0.003906  , 0.011719  ,
       0.009766  , 0.027344  , 0.        , 0.001953  , 0.033203  ,
       0.013672  , 0.019531  , 0.066406  , 0.        , 0.029297  ,
       0.        , 0.03125   , 0.011719  , 0.        , 0.025391  ,
       0.023438  , 0.001953  , 0.        , 0.015625  , 0.        ,
       0.03125   , 0.        , 0.013672  , 0.029297  , 0.015625  ,
       0.011719  , 0.003906  , 0.025391  , 0.        , 0.001953  ,
       0.011719  , 0.009766  , 0.041016  , 0.037109  , 0.019531  ,
       0.        , 0.009766  , 0.021484  , 0.015625  , 0.007812  ,
       0.013672  , 0.027344  , 0.0625    , 0.        , 0.017578  ,
       0.03125   , 0.        , 0.044922  , 0.007812  , 0.025391  ,
       0.003906  , 0.013672  , 0.015625  , 0.013672  , 0.003906  ,
       0.005859  , 0.003906  , 0.019531  , 0.001953  , 0.00064671,
       0.00060945, 0.0005765 , 0.0005534 , 0.00051575, 0.00049629,
       0.00047438, 0.00045284, 0.00045398, 0.00042897, 0.00041751,
       0.00040968, 0.00040551, 0.00039822, 0.00039905, 0.00038939,
       0.00039857, 0.00041616, 0.00041438, 0.00043008, 0.00042179,
       0.00043667, 0.00045212, 0.00046713, 0.00047021, 0.00048446,
       0.0004891 , 0.00048976, 0.00047542, 0.00048608, 0.00048383,
       0.00049999, 0.00051287, 0.00051148, 0.00051886, 0.00051302,
       0.0005016 , 0.00049765, 0.00048718, 0.0004707 , 0.00045796,
       0.00043969, 0.00043607, 0.0004267 , 0.00039426, 0.00038507,
       0.00038236, 0.00036998, 0.00036658, 0.0003726 , 0.00038577,
       0.00038888, 0.00039102, 0.00041379, 0.00042159, 0.00043435,
       0.00045229, 0.00047083, 0.00048544, 0.00051234, 0.00053558,
       0.00055327, 0.00060969, 0.0006605 , 0.049805  , 0.017578  ,
       0.003906  , 0.024414  , 0.001953  , 0.010742  , 0.035156  ,
       0.007812  , 0.039062  , 0.0625    , 0.        , 0.        ,
       0.007812  , 0.007812  , 0.        , 0.        , 0.047852  ,
       0.        , 0.054688  , 0.022461  , 0.        , 0.000977  ,
       0.018555  , 0.001953  , 0.008789  , 0.015625  , 0.044922  ,
       0.        , 0.037109  , 0.012695  , 0.02832   , 0.        ,
       0.019531  , 0.026367  , 0.005859  , 0.        , 0.004883  ,
       0.016602  , 0.03418   , 0.056641  , 0.006836  , 0.000977  ,
       0.022461  , 0.037109  , 0.004883  , 0.021484  , 0.035156  ,
       0.000977  , 0.004883  , 0.015625  , 0.        , 0.        ,
       0.006836  , 0.037109  , 0.007812  , 0.        , 0.00293   ,
       0.00293   , 0.035156  , 0.        , 0.        , 0.004883  ,
       0.        , 0.025391  ])

In [57]:
le = LabelEncoder().fit(train['species'])

In [58]:
y_train = le.transform(train['species']) #Assign label column

In [59]:
y_train

array([ 3, 49, 65, 94, 84, 40, 54, 78, 53, 89, 98, 16, 74, 50, 58, 31, 43,
        4, 75, 44, 83, 84, 13, 66, 15,  6, 73, 22, 73, 31, 36, 27, 94, 88,
       12, 28, 21, 25, 20, 60, 84, 65, 69, 58, 23, 76, 18, 52, 54,  9, 48,
       47, 64, 81, 83, 36, 58, 21, 81, 20, 62, 88, 34, 92, 79, 82, 20, 32,
        4, 84, 36, 35, 72, 60, 71, 72, 52, 50, 54, 11, 51, 18, 47,  5,  8,
       37, 97, 20, 33,  1, 59,  1, 56,  1,  9, 57, 20, 79, 29, 16, 32, 54,
       93, 10, 46, 59, 84, 76, 15, 10, 15,  0, 69,  4, 51, 51, 94, 36, 39,
       62,  2, 24, 26, 35, 25, 87,  0, 55, 34, 38,  1, 45,  7, 93, 56, 38,
       21, 51, 75, 81, 74, 33, 20, 37,  9, 40, 60, 31, 83, 50, 71, 67, 30,
       66,  1, 43, 61, 23, 65, 84, 87, 46, 57, 16,  2, 28, 12, 96, 44, 76,
       29, 75, 41, 87, 67, 61, 30,  5, 12, 62,  3, 83, 81,  6, 85,  4, 37,
       57, 84, 39, 71, 61,  6, 76, 14, 31, 98, 40, 17, 51, 16, 42, 63, 86,
       37, 69, 86, 71, 80, 78, 14, 35, 25,  5, 39,  8,  9, 26, 44, 60, 13,
       14, 77, 13, 80, 87, 18, 60, 78, 92, 51, 45, 78, 41, 51, 30, 14, 35,
       46, 21,  8,  6, 92, 38, 40, 15, 32, 17, 93, 71, 92, 27, 78, 15, 19,
       60, 21, 38, 36, 49, 74, 67, 95, 31, 82, 45, 16, 83, 63, 80, 42, 22,
       74, 53, 15, 44, 47, 57, 94, 76, 17, 32, 24, 15, 93, 24, 80, 59, 46,
       12, 51, 77, 79, 70, 69, 16,  2, 63, 83, 55, 12, 53,  1, 67,  0,  2,
       36, 42, 10,  9, 52, 59,  6, 22, 86, 31, 51, 37, 43, 75, 90, 24, 86,
       96, 45, 32, 98, 36, 66, 48, 73, 73, 79, 56, 41, 21, 25, 27, 97, 18,
       44, 45, 40, 80, 63, 20, 35,  0,  8, 27, 25, 35, 59, 61, 21, 37, 29,
        6, 19, 78, 50, 54, 37, 93, 33, 46, 79, 59, 29, 43,  0, 23, 17, 38,
       66, 38, 89, 17, 25, 31, 65, 10, 26, 86, 58, 42, 46, 24, 95, 93,  8,
       53, 32, 14, 10, 94,  8,  8, 64, 44, 74, 30, 97, 22, 11, 68, 56, 90,
       96, 16, 43, 57, 91, 24, 28, 82, 90, 64, 61, 92, 28, 84, 70, 45, 85,
       34,  7, 88, 89, 61, 26, 88, 41, 46,  8, 91, 41, 14, 98, 28, 26, 36,
       70, 74,  7, 52, 70, 42, 66, 22, 13, 44, 91, 53, 22, 16, 40, 40, 28,
       70,  6, 60, 95, 23, 16, 50, 29, 49,  9, 18, 55, 63, 60, 19, 28, 30,
       31, 85, 66, 88, 63, 83, 64, 96, 13, 34, 27, 95, 36, 72, 29, 91, 22,
       65, 71, 66, 11, 32,  2, 75, 39,  5, 37, 67, 81, 55, 61, 57, 81, 82,
       63, 55, 54, 35, 86, 25, 24, 96, 10, 58, 59, 28, 89, 54, 52, 85, 68,
       69,  8, 39, 95, 39, 82, 48, 74, 52, 74, 55,  9, 47, 84, 91, 12, 96,
       82, 64,  7, 40, 73, 77, 11, 36, 68, 23, 28, 46, 75, 43,  2, 11, 47,
       53, 56, 62, 62, 80, 56, 30,  3, 88, 37, 33, 73, 76, 21,  5, 76, 87,
       68, 83, 62, 57, 47, 19, 88, 96, 42, 23, 44, 87, 82, 49, 63, 24, 94,
       69, 54,  5, 79, 43, 12, 50,  5, 52, 92,  4, 84,  1, 33, 49, 26, 18,
       44, 13, 24, 73, 89, 78, 67, 41, 11, 46, 47, 69,  0, 18, 98, 44, 85,
       29, 53,  1, 45,  3,  9, 13,  2, 66, 59, 79,  6, 17, 43, 83, 26,  1,
       12, 49, 71, 89, 58, 93, 39, 42, 15, 38, 55, 15, 93,  4, 90, 88, 55,
       40, 55, 17, 34, 94, 57, 92, 81, 26, 60, 89, 49, 89, 30, 65, 58,  4,
       19,  4, 76, 74, 71, 21, 54, 13, 16, 72, 68, 62, 61, 25, 72,  7, 12,
       18, 77, 90, 62, 14,  3, 78, 65, 37, 27, 50, 95, 98, 60, 72, 58, 38,
       87, 93, 19,  7, 83, 50,  3, 91, 77,  7, 64, 61, 69, 23, 76, 65, 48,
       41, 92, 20, 91, 18, 70,  9,  9, 29, 85, 67,  0, 35, 98, 91, 90, 31,
       53, 39, 24, 85, 96, 17,  7, 11, 96, 39, 56, 90, 79, 45, 64, 97, 41,
       19, 74, 11, 10, 62, 95, 28, 96, 10,  7, 68,  7, 93, 34, 42, 68, 41,
       14, 22, 58, 12, 71, 27, 98, 72, 91,  3, 43, 19, 61, 75, 20, 81, 63,
       67, 56, 26, 47, 11, 31, 57, 62, 66, 19, 75, 97, 94, 13, 75, 95, 32,
       50, 97, 52, 87, 32,  3, 47, 77, 48, 33, 73, 64, 49, 68, 43, 94, 77,
       68, 47, 82,  2, 30, 23, 33, 34, 66, 33, 35, 88, 68, 27, 87, 54, 79,
       34, 67, 65, 18,  4, 26, 30, 52, 86,  0, 29, 80, 67, 95, 39, 25, 70,
       58, 35, 27, 17, 38, 91, 13, 23, 77, 79, 77, 22, 49, 98, 48, 46, 48,
        5, 63, 97, 80, 53, 20, 25, 78, 10, 65, 33, 41, 85, 90, 98, 97, 71,
       95, 52,  3, 29, 69, 51, 70, 27, 22, 34,  6, 48, 72, 21, 89, 17, 97,
       72, 80, 10, 57, 64, 92, 38, 15, 73, 87, 73, 48, 42, 82, 33, 56,  3,
       42,  1, 53, 55, 90, 19,  6, 30, 86, 64, 49,  2,  8, 45, 76, 92,  0,
       23, 69, 59, 80, 90, 32,  5, 59, 85, 89, 94, 45, 48, 86, 81, 14,  4,
       77, 56, 82,  2, 85, 70, 88,  0, 75, 14, 86, 81, 97, 70, 72, 34, 40,
        5, 11, 78, 50])

In [60]:
scaler = StandardScaler().fit(x_train)

In [61]:
x_train = scaler.transform(x_train)

In [62]:
clf = LogisticRegression(solver='lbfgs', multi_class='multinomial') #Simple Logistic Regression

In [63]:
clf.fit(x_train, y_train) #Fit the model

C:\Users\sash\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [64]:
test = pd.read_csv('C:/Users/sash/Downloads/Leaf-Classification-master/input/test.csv') #Read the data to test the model

In [65]:
test.head()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,4,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,...,0.006836,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711
1,7,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,...,0.000000,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922
2,9,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,...,0.128910,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000
3,12,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,...,0.012695,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789
4,13,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,...,0.000000,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812

In [66]:
test_ids = test.pop('id') #Id column for submission file

In [67]:
x_test = test.values #Need data in array format

In [68]:
x_test = scaler.transform(x_test)
y_test = clf.predict_proba(x_test) #Get probability values for each class

In [69]:
submission = pd.DataFrame(y_test, index=test_ids, columns=le.classes_) #Create a dataframe to create submission file

In [70]:
submission.head(2)

,Acer_Capillipes,Acer_Circinatum,Acer_Mono,Acer_Opalus,Acer_Palmatum,Acer_Pictum,Acer_Platanoids,Acer_Rubrum,Acer_Rufinerve,Acer_Saccharinum,...,Salix_Fragilis,Salix_Intergra,Sorbus_Aria,Tilia_Oliveri,Tilia_Platyphyllos,Tilia_Tomentosa,Ulmus_Bergmanniana,Viburnum_Tinus,Viburnum_x_Rhytidophylloides,Zelkova_Serrata
id,,,,,,,,,,,,,,,,,,,,,
4,0.000008,0.000018,1.117031e-07,0.000128,0.000012,0.000030,1.007763e-07,0.000001,0.000003,0.000070,...,2.313265e-08,0.000010,0.000005,1.428572e-06,1.723378e-05,4.799408e-07,1.507407e-07,3.288351e-08,0.000454,0.000001
7,0.000013,0.000019,1.186439e-04,0.000827,0.000005,0.000034,1.355671e-03,0.000009,0.000025,0.000013,...,4.482734e-05,0.000096,0.000001,8.721908e-07,3.267160e-08,8.102379e-04,3.286122e-05,9.210162e-04,0.000003,0.000049

In [71]:
submission.to_csv('submission_leaf_classification.csv') #Export dataframe into CSV file